  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .content {
    margin: 82px 0px;
  }

  footer{
    position:fixed;
    bottom:0px;
    background-color:pink;
    width:100%;
  }

  .app-panel {
    width: 100%;
    grid-column: 1 / span 12;
  }

  .calander-container { 
    grid-column: 1 / span 12;
    display: grid;
    grid-auto-flow: dense;
    padding: 0px 30px;
    grid-auto-columns: 1fr;
  }