  .content {
    height: 100%;
  }

  .app-panel {
    width: 100%;
    grid-column: 1 / span 12;
  }

  .calander-container {
    grid-column: 1 / span 12;
    display: grid;
    row-gap: 10px;
    grid-auto-flow: dense;
    padding: 0px 30px;
    grid-template-columns: repeat(12, 91px);
    grid-auto-columns: 1fr;
  }

  .mat-drawer {
    width: 200px;
    height: 100%;
  }

  .drawer-side-actions {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mat-drawer-content {
    background-color: #FFFFFF;
  }

  .mat-drawer-container {
    background-color: #FFFFFF;
    height: 100%
  }

  .theme-btn-image {
    width: 283%;
    left: -91%;
    position: relative;
  }

  h2.step-title {
    text-align: right;
    width: 100%;
    margin-right: 22px;
  }
