<div mat-dialog-content [dir]='"rtl"' class="container">
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>שם</mat-label>
        <input matInput placeholder="זה המקום להקליד שם" [(ngModel)]="name" dir="rtl">
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>תאריך לידה</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="birthday">
        <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <BR>
    <mat-label>בחר רקע לעיגול</mat-label>
    <BR><BR>
    <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="medalThemeId" aria-label="Font Style">
        <mat-button-toggle value="{{index}}" *ngFor="let medalTheme of medallionThemes; let index = index">
            <img style="width: 80%;" [src]="'/assets/' + medalTheme.image" />
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>
<BR><BR><BR><BR>
<div mat-dialog-actions class="dialog-actions" align="end">
    <button mat-fab color="secondary" aria-label="Close" (click)="onCancelClicked()">
        <mat-icon fontIcon="close"> </mat-icon>
    </button>
    <button mat-fab color="primary" aria-label="Done" (click)="onDoneClicked()">
        <mat-icon fontIcon="done"> </mat-icon>
    </button>
</div>