img {
    width: 91px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.text-container {
    position: absolute;
    margin-top: var(--top);
    margin-left: var(--left);
    font-size: var(--fontSize);
    color: var(--fontColor);
    text-align: center;
}

.medallion-container {
    display: flex;
    flex-direction: row-reverse;
    cursor: pointer;
}

.delete-btn {
    position: absolute;
    margin: -10px -10px;
}